button {
  height: fit-content;
  width: fit-content;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
  background-color: brown;
  color: white;
  cursor: pointer;
}

button#collectData {
  background-color: brown;
}

button#displaySidepanel {
  background-color: green;
}

button.current {
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}
